

a:link {
   text-decoration:none;
}

h2 {
   color: #253945;
}

.photos img {
   position: static;
   width: 25%;
   height: auto;
}


.photos img:nth-child(1) {
   margin-left: 80px;
   margin-right: 0px;
   margin-top: 0px;
   margin-bottom: 0px;
}

.photos img:nth-child(2) {
   margin-left: 93px;
   margin-right: 0px;
   margin-top: 0px;
   margin-bottom: 0px;
}

.photos img:nth-child(3){
    margin-left: 93px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.photos img:nth-child(4){
    margin-left: 80px;
    margin-right: 0px;
    margin-top: 93px;
    margin-bottom: 93px;
}

.photos img:nth-child(5){
   margin-left: 93px;
   margin-right: 0px;
   margin-top: 93px;
   margin-bottom: 93px;
}

.photos img:nth-child(6){
   margin-left: 93px;
   margin-right: 0px;
   margin-top: 0px;
   margin-bottom: 93px;
}

#about-me img {
    margin-left: 130px;
    margin-bottom: 100px;
}

#about-me p {
   text-align: left;
   margin-left: 700px;
   margin-top: -600px;
   margin-right: 80px;
   margin-bottom: 200px;
   font-family: roboto, sans-serif;
   font-size: 36px;
   color: #253945; 
}

input {
    width:50%;
    padding: 20px;
    margin: auto;
    margin-left: 200px;
    
}

main {
  margin-left: auto;
}
